<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.investoria">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="Investoria"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
